---
import ProseArticle from "@/components/ProseArticle.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import "@/styles/cv.css";
import { Content } from "@/../content/pages/cv.mdx";
import VerticalDividerIcon from "@/components/icons/VerticalDividerIcon.astro";

const TEL: string | undefined = undefined;
---

<MainLayout
    title="황수영 Suyoung Hwang"
    description="이력서 - 황수영 Suyoung Hwang"
>
    <ProseArticle>
        <h2 class="print:hidden">이력</h2>
        <h2 class="hidden print:block print:mb-2">황수영 Suyoung Hwang</h2>
        <p class="hidden print:flex gap-1.5 items-center text-sm">
            <a href="mailto:me@hareen.io">me@hareen.io</a>
            <VerticalDividerIcon class="inline size-0.875rem" />
            <a href="
                mailto:sy_h@yonsei.ac.kr"
                >sy_h@yonsei.ac.kr</a
            >
            {
                TEL && (
                    <>
                        <VerticalDividerIcon class="inline size-0.875rem" />
                        <a href={`tel:${TEL}`}>{TEL}</a>
                    </>
                )
            }
        </p>
        <Content />
    </ProseArticle>
</MainLayout>
