---
const year = new Date().getFullYear();
---

<div class="my-4 print:hidden">
    <p class="md:text-sm text-xs text-muted-foreground font-medium">
        &copy; {year} hareen aka Suyoung Hwang. All rights reserved. <br />
        <a class="hover:underline" href="https://x.com/_hareeen">X(Twitter)</a>
        {" · "}
        <a class="hover:underline" href="https://github.com/hareeen">Github</a>
        {" · "}
        <a class="hover:underline" href="mailto:me@hareen.io">Mail</a>
    </p>
</div>
